.explore {
  display: flex;
  box-sizing: border-box;
    height: auto;
    width: 1110px;

    background: yellow;

    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    gap: 10px;

    .explore-left {
        width:800px ;

        .left-top {
            padding: 10px;
            height: 300px;
            background: rgb(241, 105, 123);
        }

        .left-buttom {
            padding: 10px;
            height: 1500px;
            background: rgb(241, 105, 123);
            margin-top: 10px;
        }
    }

    .explore-right {
        width: 300px;
        height: 500px;
        background: rgb(149, 235, 194);
    }


}